[mysqld]
default_authentication_plugin=mysql_native_password
log_bin_use_v1_row_events=OFF

gtid_mode=ON
enforce_gtid_consistency=1

server-id=1


log_bin=ON
innodb_flush_log_at_trx_commit  = 1
sync_binlog                 = 1
binlog-format               = ROW
